@charset 'UTF-8';

/* Slider */

.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}


/* Icons */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 100%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    transition: 0.2s;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev {
    left: 180px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-next {
    left: 285px;
}

.produtos .slick-prev,
.produtos-02 .slick-prev {
    left: -75px;
}

.produtos .slick-next,
.produtos-02 .slick-next {
    right: -75px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}


/* Dots */

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 14px;
    height: 14px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.slick-prev {
    background: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    width: 85px;
    height: 85px;
    float: left;
    z-index: 2;
    background-size: cover;
}

.slick-next {
    background: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    width: 85px;
    height: 85px;
    float: right;
    z-index: 2;
    background-size: cover;
}

.slick-prev:hover {
    background: url(../img/arrow-left-hover.png);
    background-size: cover;
}

.slick-next:hover {
    background: url(../img/arrow-right-hover.png);
    background-size: cover;
}

.slide-fotos .slick-prev,
.slide-fotos .slick-next {
    top: 50%;
}

@media(min-width: 1200px) and (max-width: 1400px) {}

@media(min-width: 992px) and (max-width: 1199px) {
    .slick-prev {
        width: 60px;
        height: 60px;
        background-size: cover;
    }
    .slick-next {
        width: 60px;
        height: 60px;
        background-size: cover;
    }
    .slick-prev {
        left: 140px;
    }
    .slick-next {
        left: 220px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .slick-prev {
        width: 60px;
        height: 60px;
        background-size: cover;
    }
    .slick-next {
        width: 60px;
        height: 60px;
        background-size: cover;
    }
    .slick-prev {
        left: 50%;
        margin-left: -60px;
    }
    .slick-next {
        left: 50%;
        margin-left: 8px;
    }
}

@media(min-width: 0px) and (max-width: 767px) {
    .slick-prev {
        width: 60px;
        height: 60px;
        background-size: cover;
    }
    .slick-next {
        width: 60px;
        height: 60px;
        background-size: cover;
    }
    .slick-prev {
        left: 50%;
        margin-left: -60px;
    }
    .slick-next {
        left: 50%;
        margin-left: 8px;
    }
}